:root{
  --renk-baslik: #ffe978;
  --renk-arama-arka:#81c95d;
  --renk-default:#fff;
  --renk-sonuc-arka:#211e1e;

  --baslık-yazı-boyut:48px;
 --arama-yazi-boyut:22px;
 --sehir-yazi-boyut:64px;
 --derece-yazi-boyut:96px;
 --statu-yazi-boyut:36px
 
 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.arkaplan{
  width: 100vw;
  height: 100vh;
 position: absolute;
 z-index: -10;
 left: 0;
 top: 0;
}
.arkaplan .arkaplan-resim{
  position:  relative;
  width: 100vw;
  height: 100vh;
  z-index: -5;
  right: 0;
  bottom: 0;
}
.arkaplan .overlay{
  position: absolute;
  z-index: -3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0 ,0, 0.4);
}
#baslik{
  margin-top: 40px;
  text-align: center;
 color: var(--renk-baslik);
 font-size:var(--baslık-yazı-boyut) ;

}
.arama{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  
}
.arama .arama-input{
width: 80%;
height: 30px;
text-align:  center;
border-radius: 15px;
padding: 20px;
border:  none;
font-size: var(--arama-yazi-boyut);
background-color: var(--renk-arama-arka);
color: var(--renk-default);
}
.sonuc{
  position: relative;
  margin-top: 100px;
}
.sonuc .sehir{
color: var(--renk-default);
font-size: var(--sehir-yazi-boyut);
text-align: center;
}
.sonuc .detay{
margin-top: 60px;
width: 100%;
height: 250px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.sonuc .detay .derece{
  color: var(--renk-default);
  font-size: var(--derece-yazi-boyut);
  font-family: bold;
}
.sonuc .detay .statu{
  color: var(--renk-default);
  font-size: var(--statu-yazi-boyut);
  margin-top: 20px;
}
@media screen and(min-widht:950px) {
  .uygulama{
    width: 60%;
    height: 100vh;
    margin: 0 auto;
  }
  
}